.grid {
    width: 60%; ;
 justify-content: center;
}
.griditem {
    
    margin: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .App {
    background-image: url("../../assets/bgIMG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }